<%- include("header") %>
<h1>Message details</h1>
<div>
  <p>Message: <%= message.text %></p>
  <p>Submitted by: <%= message.user %></p>
  <p>
    Submitted date: <%= message.added.toLocaleDateString('en-US', { year:
    'numeric', month: 'long', day: 'numeric' }) %> at <%=
    message.added.toLocaleTimeString('en-US', { hour: '2-digit', minute:
    '2-digit' }) %>
  </p>
</div>
